
<div class="container">
  <div id="landingImg">
    <!--<img src="landingImg.jpg" alt="Mountain Lake"/> -->
    <%= image_tag('aboutImg.jpg', :alt => 'My boat') %>
  </div>
  <div class="content text-center">
    <h1>Welcome To My Webpage!</h1>
  
    <p>This is a simple about page for my website. </p>
    <p>Here I would talk a little bit about myself and maybe have few 
      pictures or maybe a video of my boat</p>
    <br/>
    <p><%= link_to 'Home', root_path %></p>
  </div>
</div>
