$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
   float: left;
   font-size: 1.7em;
   color: #ffffff;
   text-transform: uppercase;
   letter-spacing: -1px;
   font-weight: bold;
}

#logo:hover {
   color: #ffffff;
   text-decoration: none;
}

.center {
   text-align: center;
}


.navbar-collapse ul li a {
   color: black;
}

.jumbotron {
   background-image: asset-url('background.jpg');
   background-size: cover;
   width: 100%;
   height: 900px;
}

.jumbotron h1 {
   color: #f2f2f2;
   text-align: center;
   margin-top: 460px;
   margin-bottom: 50px;
   letter-spacing: -1px;
   font-weight: bold;
}

.btn-primary{
   font-size: 1.7em;
}

footer {
   margin-top: 10px;
   padding-left: 15px;
   padding-top: 5px;
   border-top: 1px solid #eaeaea;
   color: #7777777;
}

footer a:hover {
   color: #222;
}

footer small {
   float: left;
}

footer ul {
   float: right;
   padding-right: 15px;
   list-style: none;
}

footer ul li {
   float: left;
   margin-left: 15px;
}